<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box-content">
        <div>
            <h3>input your size</h3>
            <input type="text" placeholder="size" [formControl]="sizeInput">
            <input type="text" placeholder="time" [formControl]="timeInput">
            <input type="submit" (click)="onSubmit()" value="ยืนยัน"><br><br>
            <input type="text" placeholder="number of module" [(ngModel)]="module"><br><br>
            <input type="submit" (click)="calculate()" value="คำนวน">
            <table>
                <thead>
                    <tr>
                        <td>weight</td>
                        <td>time</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of reversedObject; let i = index">
                        <td>{{list.weight}}</td>
                        <td>{{list.time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            ระยะเวลารวมทั้งหมด: {{sumTime}}
            ระยะเวลาที่มาสามารถทำได้ที่น้อยที่สุด: {{timeBar}}
            จำนวน Module : {{module}}
            <table>
                <thead>
                    <tr>
                        <td>module</td>
                        <td>Quere</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <input type="submit" value="สร้างคิว" (click)="generate()">
                    <tr>
                        <td></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>